html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: rgb(230, 224, 205);
  padding: 30px 10px 0px;
}
.header {
  background-color: rgb(240, 99, 99);
  min-height: 150px;
  text-align: center;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.professor {
  background-color: white;
  min-height: 300px;
  padding: 20px;
  text-align: justify;
}
.footer {
  background-color: rgb(179, 159, 243);
  min-height: 100px;
  line-height: 20%;
  text-align: center;
}
.row {
  margin: 5px;
}
label {
  width: 100px;
  text-align: right;
  display: inline-block;
  padding-right: 5px;
}

table {
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.17);
  border: solid 1px gray;
}

table thead th {
  background-color: black;
  color: white;
}

table tfoot td {
  background-color: lightgray;
  color: rgb(238, 34, 34);
}

table tbody tr:nth-child(even) {
  background-color: #e2c6c6;
}

table tbody tr:hover td {
  background-color: #aeeb92;
  cursor: pointer;
}
